#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem; /* Reduced margin */
}

.high-score {
  font-size: 2rem; /* Reduced font size */
  color: var(--text-color);
  margin-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ddd;
  padding-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.03);
  color: var(--primary-color);
}
